.children {
	margin-left: 20px;
}

.score {
	margin-top: auto;
	margin-bottom: auto;
	/* width: 20px; */
	padding-left: 8px;
	/* align-items: center; */
	/* justify-content: center; */
	/* align-self: center; */
	width: 2%;
}

.submissionclass {
	height: auto;
	background-color: lightgray;
	margin: 20px 0px 20px 0px;
	display: flex;
}

.main {
	margin-left: 10px;
}

.thumbnail {
	/* FLOAT: right; */
	margin-left: auto;
}

div#content {
	width: 80%;
	margin: auto;
}

#submission a {
	font-size: 10px;
}

#submission .post a {
	font-size: 1rem;
}

#orhans {
	background-color: red;
}

.posted {
	font-size: 10px;
}

.thumbnail img {
	max-width: 400px;
}

h3 {
	margin: 0;
}

p.comment_title {
	font-size: 10px;
}

.post {
	background-color: lightgrey;
	border: solid;
	border-width: 1px;
	margin-bottom: 5px;
	font-size: 1rem;
}

.post_highlight {
	background-color: rgb(87, 131, 87);
	border: solid;
	border-width: 1px;
	margin-bottom: 5px;
	font-size: 1rem;
}
